html {
  scroll-behavior: smooth;
}
body {
  font-family: "Kanit", sans-serif !important;
  padding-top: 3rem;
  font-style: normal;
  font-display: swap;
}
.scrollbar {
  height: 620px;
  overflow-y: scroll;
}
.force-overflow {
  min-height: 620px;
  margin-right: 10px;
}
#style-1::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}
#style-1::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}
#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #118bd1;
}
#backToTop {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #fff;
  background-color: #118bd1;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 100%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#backToTop:hover {
  cursor: pointer;
  background-color: #0d2b59;
}
#backToTop:active {
  background-color: #0d2b59;
}
#backToTop.show {
  opacity: 1;
  visibility: visible;
}
#wpadminbar {
  display: none;
}
.post,
.page {
  margin: 0;
}
a:hover {
  text-decoration: none !important;
}
.btn.focus,
.btn:focus,
a,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}
.nowrap {
  white-space: nowrap !important;
}
.head {
  font-size: 2.5rem;
  font-weight: 500;
  color: #192960;
  text-align: center;
}
.n-center {
  margin: unset !important;
}
.line {
  display: flex;
  margin: auto;
  width: fit-content;
  padding-top: 10px;
}
.line div:first-child {
  border-bottom: 3px solid #0d2b59;
  width: 140px;
}
.line div:nth-child(2) {
  border-bottom: 3px solid #118bd1;
  width: 100px;
}
#line_nav {
  display: flex;
}
#line_nav div:first-child {
  border-bottom: 5px solid #0d2b59;
  width: 60%;
}
#line_nav div:nth-child(2) {
  border-bottom: 5px solid #118bd1;
  width: 40%;
}
.box-gray {
  width: 100%;
  height: 250px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Animate & Chats ==============================================*/
.animate__fadeInLeft2 {
  animation: fadeInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
.animate__fadeInUp2 {
  animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
/* Zoom in Keyframes */
@-webkit-keyframes zoomin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
} /*End of Zoom in Keyframes */
.share-wrapper {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 99;
}
.share-wrapper .share {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  color: #fff;
  background-color: #173e78;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  margin-bottom: 15px;
  transition: background-color 0.4s;
  box-shadow: 0 1px 5px rgba(117, 46, 46, 0.28);
}
.share-wrapper .share img {
  width: 35px;
}
.share-wrapper .active {
  background-color: #2793d1;
}
.share-wrapper ul {
  opacity: 0;
  visibility: hidden;
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
  transition: visibility 0.4s, opacity 0.4s, -webkit-transform 0.4s;
}
.share-wrapper .social .active {
  opacity: 1;
  visibility: visible;
  transform: translate(0);
  background-color: unset;
}
.share-wrapper .social ul li {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0.5px 0.87px 4px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
  transform: scale(0.8);
}
.share-wrapper .social ul li img {
  width: 25px;
}
.share-wrapper .social ul .facebook {
  background-color: #0a84ff;
}
.share-wrapper .social ul .lines {
  background-color: #1fc800;
}
.share-wrapper .social ul .mail {
  background-color: #fe7000;
}
.share-wrapper .social ul .phone {
  background-color: #64ab42;
}
.share-wrapper .social ul .fax {
  background-color: #1a5170;
}
/* End Animate & Chats =======================================*/

/* Navbar & Footer ===========================================*/
.navbar {
  padding: 1rem 1rem !important;
  background: #fff;
  box-shadow: 2px 2px 5px 1px #00000024;
}
.site-branding img {
  max-width: 14rem;
}
.navbar-nav .nav-link {
  color: #333333 !important;
  margin: 0 0.3rem;
  border-bottom: 5px solid transparent;
}
.navbar-nav .social img {
  width: 40px;
}
.navbar-nav .lang {
  background: #ebebeb;
  border-radius: 5px;
  padding: 0 10px 0 5px;
  color: #000;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.navbar-nav .lang img {
  width: 40px;
}
.navbar-nav .active > .nav-link,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.navbar-nav .show > .nav-link {
  color: rgba(0, 0, 0, 0.9);
  border-bottom: 5px solid #2793d1;
}
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 0.9);
  border-bottom: 5px solid #2793d1;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: #f8f9fa !important;
}
footer {
  color: #fff;
  background: linear-gradient(#173e78, #4a78be);
}
footer .logo {
  width: 200px;
}
footer .location {
  font-size: 18px;
  text-align: center;
}
footer .bottom {
  background: #173e78;
  padding: 10px 0;
  text-align: center;
  font-weight: 100;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#main_mobile .menu-btn {
  top: 12px !important;
}
/* Styles for the menu button */
.menu-btn {
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgb(0 0 0 / 16%);
  cursor: pointer;
  height: 50px;
  right: 10px;
  position: absolute;
  top: 10px;
  width: 50px;
  z-index: 1100;
}
/* Styles for the menu */
.menu {
  bottom: 0;
  background-color: #ffffff;
  left: 0;
  margin: 0;
  padding: 100px 30px;
  position: fixed;
  top: 0;
  width: 250px;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.2s linear;
  z-index: 1100;
}
/* Creating the hamburger/hotdog icon in CSS */
.menu-btn li {
  background-color: #000;
  bottom: 0;
  height: 2px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 16px;
  top: 0;
  transition: all 0.3s ease-in-out;
}
/* The following two lines set the three lines of our hamburger/hotdog icon apart */
.menu-btn li:first-child {
  transform: translate3d(0, -4px, 0);
}
.menu-btn li:last-child {
  transform: translate3d(0, 4px, 0);
}
/* We're now in the animation territory. These are the classes you toggle on with our Javascript function. */
.menu-btn--on li:first-child {
  transform: rotate(135deg) translate3d(0, 0, 0);
}
.menu-btn--on li:last-child {
  transform: rotate(-135deg) translate3d(0, 0, 0);
}
.menu-btn--on li:nth-child(2) {
  opacity: 0;
}
.menu--open {
  transform: translate3d(0, 0, 0);
}
/* End Navbar & Footer ===========================*/

/* Banner ========================================*/
#banner {
  position: relative;
}
#banner .text-position {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-62%, -50%);
  text-transform: uppercase;
}
#banner h1 {
  color: #0983ce;
  font-size: 7rem;
  line-height: 7rem;
  font-style: italic;
  text-shadow: 0px 3px 10px #fff;
  font-weight: 500;
}
#banner h2 {
  font-size: 4rem;
  color: #0d2b59;
  font-style: italic;
  line-height: 3rem;
  font-weight: 500;
  text-shadow: 0px 3px 10px #fff;
}
#banner .title {
  font-size: 20px;
  line-height: 31px;
}
#banner .title-1 {
  color: #0d2b59;
  font-weight: 500;
}
#banner .title-2 {
  color: #666666;
  font-weight: 300;
}
#banner .border-b {
  border: 1px solid #666666;
  width: 250px;
  margin: 20px 0;
}
/* End Banner ====================================*/

/* About =========================================*/
#about {
  background: url("../images/about-bg.jpg") no-repeat center center;
  background-size: cover;
  color: #0d2b59;
  padding: 2rem 0;
  text-shadow: 0px 2px 10px rgb(0 0 0 / 15%);
}
#about .title {
  font-size: 30px;
  font-weight: 500;
}
#about .detail {
  font-size: 26px;
}
#about_detail .bg-left {
  background: url("../images/about/about-bg.png") no-repeat bottom left;
  background-size: 45rem;
}
#about_detail .bg-right {
  background: url("../images/about/about-bg2.png") no-repeat bottom right;
  background-size: 40rem;
  padding: 1rem 0;
}
#about_detail .detail1 {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}
#about_detail .detail2 {
  font-size: 20px;
  font-weight: 300;
  max-width: 480px;
  margin-left: auto;
  line-height: 35px;
  text-indent: 2rem;
  color: #0d2b59;
}
#about_detail .detail3 {
  max-width: 420px;
  color: #0d2b59;
}
#about_detail .detail3 h1 {
  font-size: 2rem;
  margin-top: 10px;
}
#about_detail .detail3 p {
  font-weight: 300;
}
#about_detail .detail4 {
  font-size: 20px;
  font-weight: 300;
  line-height: 35px;
  color: #0d2b59;
}
#about_detail b {
  font-weight: 500;
  color: #0d2b59;
}
#about_detail .detail-img {
  width: 80%;
}
#about_detail .detail-img2 {
  width: 60%;
  margin-left: 7rem;
}
#about_line {
  display: flex;
}
#about_line div {
  border-bottom: 5px solid #118bd1;
  width: 85%;
  border-radius: 20px;
}
#about_line div:first-child {
  width: 90%;
}
#about_line div:nth-child(2) {
  width: 7%;
  margin: 0 10px;
}
#about_line div:nth-child(3) {
  width: 3%;
}
.about-head h1 {
  font-size: 3.5rem;
  line-height: 70px;
}
.about-head h3 {
  font-size: 2.5rem;
  color: #fff;
  padding: 5px 15px;
  background-color: #0d2b59;
  width: fit-content;
  font-weight: 400;
}
.about-head h1 span {
  font-size: 2.5rem;
}
.bg-philosophy {
  background-color: #f7f7f7;
}
#about_line2 {
  display: flex;
  margin: 10px 0;
}
#about_line2 div:first-child {
  border-bottom: 3px solid #0d2b59;
  width: 60%;
}
#about_line2 div:nth-child(2) {
  border-bottom: 3px solid #118bd1;
  width: 40%;
}
#about_detail .banner {
  max-width: 1500px;
}
#about_detail .box {
  background-color: rgb(208 238 255 / 41%);
  border-radius: 30px;
  padding: 30px;
  width: fit-content;
  margin: auto;
  box-shadow: 0 2px 6px rgb(0 0 0 / 15%);
}
#about_detail .zoom_in {
  text-align: center;
  background-size: auto;
  background-attachment: fixed;
  background-repeat: repeat;
  position: relative;
  -webkit-animation: zoomin 20s ease-in infinite;
  animation: zoomin 20s ease-in infinite;
  transition: all 20 ease-in-out;
  overflow: hidden;
}
.about_detail_wrapper {
  overflow: hidden;
}
/* End About ======================================*/

/* Product ========================================*/
#product {
  padding: 5rem 0;
}
#product .nav-pills .nav-link {
  border-radius: 0;
  color: #fff;
  padding: 25px 10px;
  font-size: calc((20 / 1440) * 100vw);
}
#product .nav-pills {
  background: linear-gradient(#0c4a68, #086495);
}
#product .box-tab {
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0px 6px 20px 2px #00000030;
}
#product .nav-pills .nav-link.active,
#product .nav-pills .show > .nav-link {
  background: linear-gradient(#227daa, #12a1ed);
}
#product .box {
  background-size: cover !important;
  height: 33rem;
  display: flex;
  align-items: center;
}
#product .tab-pane .bg-1 {
  background: url("../images/product-bg1.jpeg") no-repeat center top;
}
#product .tab-pane .bg-2 {
  background: url("../images/product/CSNC-ผ้าใบ.jpg") no-repeat center top;
}
#product .tab-pane .bg-3 {
  background: url("../images/product/CSNC-ถุงตาข่าย.png") no-repeat center top;
}
#product .tab-pane .bg-4 {
  background: url("../images/product/CSNC-กระเป๋า.jpg") no-repeat top left;
}
#product h2,
#product h4 {
  color: #173e78;
  text-shadow: 1px 1px 5px #fff;
}
#product .detail {
  font-size: 16px;
  color: #2f343c;
  text-shadow: 1px 1px 5px #fff;
}
#product .text {
  text-align: left;
  font-weight: 500;
  text-shadow: 1px 1px 5px #fff;
}
#product .icon {
  width: 60px;
  margin-right: 15px;
}
#product .better {
  display: inline-block;
}
@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.bounce-hover {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  color: white;
}
.bounce-hover:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
  animation-duration: 1.5s;
}
/* End Product ====================================*/

/* Trust ==========================================*/
#trust {
  padding: 5rem 0;
}
#trust h5 {
  color: #666666;
  font-weight: 300;
  line-height: 35px;
}
#trust img {
  width: 55vw;
}
/* End Trust ======================================*/

/* Quality ========================================*/
#quality {
  padding: 8rem 0 5rem;
  background: url("../images/quality-bg.png") no-repeat top right;
  background-size: cover;
}
#quality h1 {
  color: #fff;
  font-weight: 500;
  text-align: center;
}
#quality p {
  color: #fff;
  font-weight: 300;
  font-size: 18px;
}
#quality .logo {
  width: 30vw;
}
/* End Quality =====================================*/

/* Contact ========================================*/
#contact {
  padding: 5rem 0;
  background: url("../images/contact-bg.jpeg") no-repeat center center;
  background-size: cover;
}
iframe {
  width: 100%;
  height: 450px;
  border-radius: 15px;
  box-shadow: 0px 5px 6px 1px rgb(0 0 0 / 20%);
}
#contact .btn {
  font-size: 14px;
  color: #0d2b59;
}
#contact .btn img {
  width: 35px;
}
#contact .br {
  border-right: 1px solid #0d2b59;
  height: 30px;
}
#contact .box {
  background: #fff;
  padding: 40px 25px 0;
  border-radius: 15px;
  box-shadow: 0px 10px 20px 1px rgb(0 0 0 / 15%);
}
label {
  color: #333333;
  width: 100% !important;
  margin-bottom: 20px !important;
}
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 select,
.wpcf7 textarea {
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 5px;
  height: calc(2.25rem + 25px);
  width: 100% !important;
}
.wpcf7 .wpcf7-submit {
  height: 60px;
  font-size: 20px;
  background: linear-gradient(to right, #227daa, #12a1ed);
  border: none;
  border-radius: 5px;
  color: #fff;
  width: 100%;
  cursor: pointer;
}
#contact .wpcf7-submit:hover {
  box-shadow: 0px 0px 10px 1px #0000006b;
  cursor: pointer;
}
#contact_detail {
  background: linear-gradient(#fff, #f4faff);
}
/* #contact_detail .banner-zoom {
  background: url(../images/contact/contact-banner.jpg) no-repeat;
} */
/* .banner-fade {
  padding: 14rem 0;
  background: url("../images/contact/contact-banner.jpg") no-repeat center
    center;
  background-size: cover;
} */
.banner-zoom {
  -webkit-animation: zoomin 20s ease-in infinite;
  animation: zoomin 20s ease-in infinite;
  transition: all 20s ease-in-out;
  height: 80vh;
  object-fit: cover;
}
.banner-fade .box {
  padding: 2rem 10rem;
  background: linear-gradient(to right, rgb(7 55 126 / 60%), transparent);
  position: absolute;
  top: 30%;
}
.banner-fade h1 {
  font-size: 6rem;
  color: #fff;
}
.banner-fade h2 {
  font-size: 2rem;
  color: #fff !important;
  font-weight: 300;
}
#contact_detail iframe {
  height: 400px !important;
}
#faq {
  background-color: rgb(208 238 255 / 40%);
  padding: 2rem 4rem;
  box-shadow: 0px 2px 5px rgb(0 0 0 / 10%);
  border-radius: 30px;
  position: relative;
  z-index: 10;
}
#faq h1,
#faq h2 {
  text-align: center;
  color: #0d2b59;
}
#faq h1 {
  font-size: 2rem;
}
#faq h2 {
  font-size: 1rem;
  font-weight: 300;
}
#faq .card {
  margin-bottom: 30px;
  border: 0;
  border-radius: 30px;
  box-shadow: 0px 2px 5px rgb(0 0 0 / 10%);
}
#faq .card-body {
  color: #0d2b59;
}
#faq .card .btn-header-link {
  display: block;
  color: #0d2b59;
  padding: 15px;
  text-align: left;
  border-radius: 30px;
}
#faq .card .btn-header-link:after {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  float: right;
}
#faq .card .btn-header-link.collapsed:after {
  content: "\f106";
}
.contact-bg,
.contact-bg2 {
  position: absolute;
  max-width: 300px;
}
.contact-bg {
  top: 6%;
  left: 0;
}
.contact-bg2 {
  bottom: 0;
  right: 0;
}
/* End Contact =====================================*/

/* Work ================-------=====================*/
/* #work .banner-zoom {
  background: url(../images/work/work-banner.jpeg) no-repeat;
} */
#searchform {
  background: rgb(242 248 252 / 75%);
  border-radius: 17px;
  padding: 2rem 4rem;
  width: fit-content;
}
#searchform .search-field {
  width: 400px;
  height: 40px;
  padding: 0 15px;
}
#searchform .search-field:focus-visible {
  outline: none !important;
}
#searchform button {
  height: 40px;
  width: 200px;
  background: #0d2b59;
  color: #fff;
  vertical-align: top !important;
}
#work .position .box-list {
  background: #f2f2f2;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
  z-index: 10;
}
#work .position h3 {
  margin-bottom: 0 !important;
}
#work .position {
  width: 110%;
  margin-left: -2rem;
}
#work .position h3 {
  font-size: 18px;
  color: #0d2b59;
}
#work .position p,
#work .position ul li {
  color: #118bd1;
  font-weight: 300;
  text-align: left;
}
#work .position ul {
  list-style: disc;
  padding-inline-start: 40px;
}
#work .position .btn-regist {
  color: #fff;
  background: linear-gradient(#162b56, #17597e);
  vertical-align: top !important;
}
.read-more-content {
  display: none;
}
.read-more {
  border: 2px solid #bbb !important;
  color: #aaa !important;
  border-radius: 50px !important;
  padding: 5px 10px !important;
  font-size: 12px !important;
}
/* START TOOLTIP STYLES */
[tooltip] {
  position: relative; /* opinion 1 */
}
/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: 20px; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: "";
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
  content: attr(tooltip); /* magic! */
  /* most of the rest of this is opinion */
  font-family: Helvetica, sans-serif;
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: 0.3ch;
  box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
}
/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}
/* don't show empty tooltips */
[tooltip=""]::before,
[tooltip=""]::after {
  display: none !important;
}
/* FLOW: LEFT */
[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 5px);
  transform: translate(-0.5em, -50%);
}
[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-0.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: 0.9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: 0.9;
    transform: translate(0, -50%);
  }
}
/* FX All The Things */
[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}
/* End Work =========================================*/

/* Product ==========================================*/
/* #products .banner-zoom {
  background: url(../images/product/product-banner.jpeg) no-repeat;
} */
#product_bg {
  background: url(../images/product/product-bg.png) no-repeat bottom;
  background-size: cover;
}
#product_bg2 {
  background: url(../images/product/product-bg2.jpg) no-repeat top;
  background-size: cover;
  padding: 3rem 0;
}
#products .product-tab {
  background: #f8fbfd;
}
#products .nav-pills .nav-link {
  color: #fff;
  padding: 20px 10px;
  /* font-size: calc((25 / 1440) * 100vw); */
  font-size: 25px;
}
#products .nav-pills {
  background: #12a1ed;
  border-radius: 10px;
}
#products .nav-pills .nav-link.active,
#products .nav-pills .show > .nav-link {
  background: #012f64;
  width: 200px;
  margin: auto;
  transform: scale(1.1);
  border-radius: 10px;
  transition: all 0.4s;
}
#products .tab-content {
  background: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
#products .padding {
  padding: 20px 40px;
}
#products h2 {
  color: #118bd1;
}
#products .fa-ul li {
  font-size: 18px;
  color: #0d2b59;
  margin-bottom: 10px;
}
#products .shadow {
  background: #fff;
  box-shadow: 2px 3px 5px 1px #00000030;
  padding: 20px;
  margin: 5px;
}
#products h6 {
  color: #0d2b59;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  overflow: hidden;
}
#products .more {
  background: #0d2b59;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.owl-carousel .owl-stage {
  margin: auto;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  width: 30px;
  font-size: 2rem !important;
}
.fa-ul {
  list-style-type: none !important;
  margin-left: 0;
  padding-left: 0;
  padding-inline-start: 30px;
}
#products .btn1,
#products .btn2 {
  background: #118bd1;
  color: #fff;
  font-size: 18px;
}
#products .btn2 {
  background: #fff;
  color: #01326b;
  border-radius: 10px;
}
#product_bg2 img {
  width: 100px;
  margin-bottom: 20px;
}
#product_bg2 h1 {
  color: #fff;
  text-shadow: 0px 1px 5px rgb(0 0 0 / 70%);
  text-align: center;
}
#product_bg2 h6 {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}
#product_bg2 h6 br {
  display: none;
}
#product_bg2 h5 {
  color: #fff;
  text-align: left;
  font-weight: 500;
}
#product_bg2 i {
  margin-right: 10px;
}
#product_bg2 .fa-phone {
  transform: rotate(90deg);
}
#product_detail .box {
  padding: 10px;
  box-shadow: 2px 2px 5px 1px #00000024;
  border-radius: 10px;
  margin-top: 5rem;
}
.wp-block-nextend-smartslider3 {
  margin-top: -4rem;
}
#product_detail h1,
#product_detail p {
  color: #0d2b59;
}
#product_detail .box h1 {
  font-size: 20px;
  margin-bottom: 0;
}
#product_detail .box p {
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
}
#product_detail .contact {
  padding: 6rem 0;
  position: relative;
}
#product_detail .contact:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../images/product/product_contact_bg.png") no-repeat center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  opacity: 1;
  z-index: -1;
}
@media (max-width: 575.98px) {
  #product_detail .contact:before {
    opacity: 0.2;
    background-position: 50% 0;
  }
}
#product_detail .contact h1 {
  font-size: 1.4rem;
}
#product_detail .contact .btn {
  background-color: #0d2b59;
  color: #fff;
  width: 150px;
}
#product_detail .contact .block {
  max-width: 400px;
  text-align: center;
}
#product_detail .contact .social img {
  width: 30px;
  margin-right: 20px;
}
.line-90 {
  display: flex;
  transform: rotate(90deg);
  position: absolute;
  top: 35%;
  left: 0;
}
.line-90 div:first-child {
  border-bottom: 10px solid #118bd1;
  width: 130px;
}
.line-90 div:nth-child(2) {
  border-bottom: 10px solid #0d2b59;
  width: 130px;
}
/* End Product ======================================*/

/* Register ===========================================*/
#regist {
  background: linear-gradient(#ffffff, #f4faff);
  position: relative;
}
#regist .container {
  position: relative;
  z-index: 10;
}
#regist .bg {
  position: absolute;
  z-index: 0;
}
/* #regist .bg-left {
  top: 0;
  left: 0;
  width: 70rem;
} */
#regist .bg-right {
  bottom: 0;
  right: 0;
  width: 30rem;
}
.arf_fieldset
  .arf_horizontal_radio
  .setting_checkbox
  .arf_checkbox_input_wrapper
  + label {
  margin-bottom: 0 !important;
}
#arffrm_100_container
  .setting_radio.arf_standard_radio
  .arf_radio_input_wrapper
  + label {
  margin-bottom: 0 !important;
}
#arffrm_101_container .arf_radiobutton label {
  margin-bottom: 0px !important;
}
/* .arfformfield.frm_first_half,
.arfformfield.frm_first_third,
.arfformfield.frm_left_third,
.arfformfield.frm_last_third,
.arfformfield.frm_third,
.arfformfield.frm_last_half,
.arf_field_type_textarea {
  display: flex;
  align-items: center;
} */
h2.pos_top {
  color: #118bd1 !important;
  font-size: 20px !important;
  font-weight: 500 !important;
}
#arffrm_100_container label,
#arffrm_101_container label {
  font-weight: 300 !important;
  color: #0d2b59 !important;
}
.arf_field_type_file,
.arf_field_type_file label {
  text-align: center !important;
}
.arfajax-file-upload {
  background: #0d2b59 !important;
  border-color: #0d2b59 !important;
}
.arfsubmitbutton .arf_submit_btn.arf_submit_btn_flat {
  background: #0d2b59 !important;
  border: 2px solid #0d2b59 !important;
}
.arf_repeater_add_new_button,
.arf_repeater_remove_new_button {
  float: unset !important;
  background: #b5b5b5 !important;
  border: 2px solid #b5b5b5 !important;
  border-radius: 5px !important;
  color: #fff !important;
  width: 160px !important;
  margin-right: 5px;
}
.arf_repeater_add_new_button i,
.arf_repeater_remove_new_button i {
  left: 25% !important;
}
.arf_repeater_button_wrapper {
  float: unset !important;
}
#arffrm_101_container .arf_checkbox_style label {
  margin-bottom: 0px !important;
}
.arf_repeater_button_wrapper {
  display: flex;
  justify-content: center;
}
.arf_fieldset,
.arf_heading_div {
  background: transparent !important;
}
.dropdown-item {
  color: #333333 !important;
}
/* End Register ===================================*/

/* iPad Size 
============================================================================================= */
@media (min-width: 768px) and (max-width: 991.98px) {
  .head {
    font-size: 2rem;
  }
  .site-branding {
    margin: auto;
  }
  .site-branding img {
    max-width: 11rem;
  }
  #banner h1 {
    font-size: 4rem;
    line-height: 3rem;
  }
  #banner .h2 {
    font-size: 2rem;
  }
  #banner .title {
    font-size: 20px;
    line-height: 25px;
  }
  #banner .border-b {
    width: 150px;
    margin: 10px 0;
  }
  #about .title {
    font-size: 25px;
    font-weight: 500;
  }
  #about .detail {
    font-size: 20px;
  }
  #product .detail {
    font-size: 16px;
  }
  #product .text {
    font-size: 14px;
  }
  #product .icon {
    width: 50px;
    margin-right: 10px;
  }
  #trust img {
    width: 80vw;
  }
  #quality {
    padding: 80px 0 40px 0;
    background-size: cover;
    height: auto;
  }
  #quality h1 {
    font-size: 25px;
  }
  #quality p {
    font-size: 12px;
  }
  #about_detail .detail1 span {
    white-space: nowrap;
  }
  #about_detail .detail1 {
    font-size: 18px;
  }
  #about_detail .detail2 {
    font-size: 16px;
    line-height: 28px;
    text-indent: 1rem;
  }
  .about-head h1 {
    font-size: 2.5rem;
    line-height: 45px;
  }
  .about-head h1 span {
    font-size: 2rem;
  }
  .about-head h3 {
    font-size: 2rem;
  }
  .banner-fade {
    padding: 3rem 0;
  }
  .banner-fade .box {
    padding: 1rem 2rem;
  }
  .banner-fade h1 {
    font-size: 2rem;
  }
  .banner-fade h2 {
    font-size: 1rem;
  }
  #work .banner-fade {
    padding: 2rem 0;
  }
  #searchform {
    padding: 2rem 2rem;
  }
  #work .position .btn-regist {
    font-size: 12px;
  }
  #work .position h3 {
    font-size: 16px;
  }
  #work .position p {
    font-size: 14px;
  }
  #work .position .box {
    padding: 15px;
  }
  #product_bg2 h1 {
    font-size: 1.5rem;
  }
  #product_bg2 img {
    width: 80px;
  }
  #product_bg2 h6 {
    font-size: 14px;
    line-height: 20px;
  }
  #product_bg2 h5 {
    font-size: 14px;
  }
  #product_detail .box h1 {
    font-size: 16px;
  }
  #product_detail .box p br {
    display: none;
  }
}

/* iPad Pro Size
============================================================================================*/
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  #product .detail {
    font-size: 16px;
  }
  #quality {
    padding: 80px 0 40px 0;
    background-size: cover;
    height: auto;
  }
  #quality h1 {
    font-size: 30px;
  }
  #quality p {
    font-size: 16px;
  }
}

/* Mobile Size 
============================================================================================ */
@media (max-width: 575.98px) {
  body {
    padding-top: 0;
  }
  .head .line div:first-child {
    width: 100px;
  }
  .head .line div:nth-child(2) {
    width: 50px;
  }
  .fixed-top {
    position: relative !important;
  }
  .site-branding {
    margin: auto;
  }
  .site-branding img {
    max-width: 10rem;
  }
  .head {
    font-size: 23px;
  }
  .navbar-nav .active > .nav-link,
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link.show,
  .navbar-nav .show > .nav-link {
    border-bottom: none;
  }
  .navbar-nav .nav-link {
    margin: 0;
  }
  footer .bottom {
    font-size: 12px;
  }
  footer .location {
    font-size: 16px;
  }
  footer .logo {
    width: 200px;
  }
  #banner h2 {
    font-size: 2rem;
  }
  #banner h1 {
    font-size: 3rem;
    line-height: 2rem;
  }
  #banner .border-b {
    width: 100px;
    margin: auto;
  }
  #banner .title {
    font-size: 16px;
  }
  #about .title {
    font-size: 17px;
  }
  #about .detail {
    font-size: 16px;
  }
  #about br {
    display: none;
  }
  #product {
    padding: 3rem 0;
  }
  #product .box-tab {
    border-radius: 20px;
  }
  #product .nav-pills .nav-link {
    font-size: 13px;
  }
  #product .detail {
    font-size: 16px;
  }
  #product .text {
    font-size: 14px;
  }
  #product br {
    display: none;
  }
  #product h2,
  #product h4 {
    font-size: 1.6rem;
  }
  #product .icon {
    width: 55px;
    margin-right: 10px;
  }
  #product .box {
    background-size: cover !important;
    height: auto !important;
    padding-bottom: 20rem !important;
  }
  #product .tab-pane .bg-1 {
    background: url("../images/product-bg1-mobile.jpeg") no-repeat center top;
  }
  #product .tab-pane .bg-2 {
    background: url("../images/product/ผ้าใบพลาสติกสาน-mobile.png") no-repeat
      center top;
  }
  #product .tab-pane .bg-3 {
    background: url("../images/product/ถุงตาข่าย-mobile.png") no-repeat center
      top;
  }
  #product .tab-pane .bg-4 {
    background: url("../images/product/กระเป๋า-mobile.png") no-repeat center top;
  }
  #trust {
    padding: 20px 0;
  }
  #trust h5 {
    line-height: 30px;
    font-size: 16px;
  }
  #trust img {
    width: 100vw;
  }
  #trust br {
    display: none;
  }
  #quality {
    padding: 0;
    background: unset;
    background-size: cover;
    height: auto;
  }
  #quality br {
    display: none;
  }
  #quality .content {
    background: #0d2b59;
    padding: 30px;
  }
  #quality .thumnail {
    width: 100%;
    object-position: 0 2px;
  }
  #quality h1 {
    font-size: 25px;
  }
  #quality p {
    font-size: 16px;
  }
  #quality .logo {
    width: 80vw;
  }
  #contact {
    background: url("../images/contact-bg-mobile.jpeg") no-repeat center center;
    background-size: cover;
    padding: 3rem 0;
  }
  #contact .br {
    display: none;
  }
  #about_detail .detail1 {
    font-size: 16px;
    line-height: 28px;
  }
  #about_detail .bg-left {
    background: url(../images/about/about-bg.png) no-repeat center left;
    background-size: 17rem;
  }
  #about_detail .bg-right {
    background: url(../images/about/about-bg2.png) no-repeat bottom right;
    background-size: 20rem;
    padding: 2rem 0;
  }
  #about_detail .detail-img2 {
    width: 65%;
    margin-left: 4rem;
  }
  #about_detail .detail-img {
    width: 85%;
  }
  #about_detail .detail1 span {
    white-space: nowrap;
  }
  #about_detail .detail2 {
    font-size: 14px;
    line-height: 26px;
    text-indent: 1rem;
  }
  .about-head h1 {
    font-size: 28px;
    line-height: 35px;
  }
  .about-head h1 span {
    font-size: 20px;
  }
  .about-head h3 {
    font-size: 20px;
  }
  #about_detail .detail3 h1 {
    font-size: 1.5rem;
  }
  #about_detail .detail4 {
    font-size: 16px;
    line-height: 30px;
  }
  #about_detail .detail4 br {
    display: none;
  }
  #about_detail .banner {
    max-width: 100%;
  }
  .banner-fade .box {
    padding: 1rem 2rem;
  }
  .banner-fade h1 {
    font-size: 2rem;
  }
  .banner-fade h2 {
    font-size: 1rem;
  }
  #contact_detail iframe {
    height: 300px !important;
  }
  #faq {
    padding: 10px;
    font-size: 12px;
  }
  #faq .card .btn-header-link,
  #faq .card-body {
    font-size: 12px;
  }
  .contact-bg {
    top: 30%;
  }
  .contact-bg,
  .contact-bg2 {
    max-width: 50%;
  }
  #searchform {
    border-radius: 15px;
    padding: 1rem 1rem;
  }
  #searchform .search-field {
    width: 100%;
  }
  #searchform button {
    width: 100%;
    margin-top: 10px;
  }
  #work .position {
    width: 100%;
    margin-left: 0;
  }
  #work .position .box-list {
    padding: 15px;
  }
  #work .position .btn-regist {
    font-size: 12px;
  }
  #work .position h3 {
    font-size: 16px;
  }
  #work .position p {
    font-size: 14px;
  }
  #products .nav-pills .nav-link {
    padding: 15px 5px;
    font-size: 13px;
  }
  #products .nav-pills .nav-link.active,
  #products .nav-pills .show > .nav-link {
    width: auto;
  }
  #products .padding {
    padding: 15px;
  }
  #products .tab-content h2 {
    font-size: 1.5rem;
  }
  #products .fa-ul li {
    font-size: 14px;
  }
  #products .btn1,
  #products .btn2 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  #lightSlider .shadow {
    padding: 10px;
    margin: 3px;
  }
  #lightSlider .more {
    font-size: 12px;
  }
  #lightSlider h6 {
    font-size: 14px;
    height: 35px;
    overflow: hidden;
  }
  #product_bg2 img {
    width: 80px;
  }
  #product_bg2 h1 {
    font-size: 20px;
  }
  #product_bg2 h5 {
    text-align: center;
    font-weight: 500;
  }
  #product_bg2 h6 br {
    display: block;
  }
  #product_detail .box h1 {
    font-size: 16px;
  }
  #product_detail .box p br {
    display: none;
  }
  .line-90 {
    top: 50%;
    left: -10%;
  }
  .line-90 div:first-child {
    border-bottom: 5px solid #118bd1;
    width: 50px;
  }
  .line-90 div:nth-child(2) {
    border-bottom: 5px solid #0d2b59;
    width: 50px;
  }
  .banner-zoom {
    height: 30vh;
  }
  .banner-fade .box {
    top: 20%;
  }
  .banner-fade .box-m {
    top: 3% !important;
  }
  .share-wrapper {
    right: 10px;
    bottom: 5px;
  }
}

@media only screen and (min-width: 1500px) {
  #product .nav-pills .nav-link {
    font-size: 18px;
  }
}

html[lang="en-US"] #banner .title-1 {
  font-size: 17px;
  line-height: 20px;
}
